# macOS
backstage/source/.DS_Store

# Logs
backstage/source/logs
backstage/source/*.log
backstage/source/npm-debug.log*
backstage/source/yarn-debug.log*
yarn-error.log*

# Coverage directory generated when running tests with coverage
backstage/source/coverage

# Dependencies
backstage/source/node_modules/

# Yarn files
backstage/source/.pnp.*
backstage/source/.yarn/*
!backstage/source/.yarn/patches
!backstage/source/.yarn/plugins
!backstage/source/.yarn/releases
!backstage/source/.yarn/sdks
!backstage/source/.yarn/versions

# Node version directives
backstage/source/.nvmrc

# dotenv environment variables file
backstage/source/.env
backstage/source/.env.test

# Build output
backstage/source/dist
backstage/source/dist-types
backstage/source/packages/app/dist
backstage/source/packages/backend/dist

# Temporary change files created by Vim
backstage/source/*.swp

# MkDocs build output
backstage/source/site

# Sensitive credentials
backstage/source/*-credentials.yaml

# vscode database functionality support files
backstage/source/*.session.sql

# E2E test reports
backstage/source/e2e-test-report/

# Cache
backstage/source/.cache/

argo/app-set-rendered.yaml
argo/ingress.yaml
backstage/values-rendered.yaml
crossplane/04-xrds/dbaas/
crossplane/05-compositions/dbaas/
kyverno/deprecate-old-psql-versions.yaml